.EvaluateForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
  background-color: #70bfc2;
}

.EvaluateForm span {
  margin: 50px 20px;
}

.EvaluateForm label {
  margin-left: 15px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
}

.EvaluateForm input {
  margin: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #5A656C;
  font-size: 1.2em;
}

.submit {
    background-color: #D15744;
    color: #EEDEDC;
    font-weight: 500;
}